src/test/resources/AtollWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:impl="http://WS/ATOLL/" xmlns:intf="http://WS/ATOLL/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap10="http://www.w3.org/2006/05/addressing/wsdl" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" name="atoll.telefonica.com" targetNamespace="http://atoll.telefonica.com">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" name="ATOLL" targetNamespace="http://WS/ATOLL/">
			<element name="getListOfLocations">
				<complexType>
					<sequence>
						<element name="modificationDateFrom" type="xsd:date"/>
						<element name="modificationDateTo" type="xsd:date"/>
					</sequence>
				</complexType>
			</element>
			<element name="getListOfLocationsResponse">
				<complexType>
					<sequence>
						<element name="listOfLocations" type="impl:ListOfLocations" />
					</sequence>
				</complexType>
			</element>
			
			<!--data types-->		

			<complexType name="Antenna">
				<sequence>
					<element name="basekey" type="xsd:string"/>				
					<element name="heightAGL" type="xsd:decimal" minOccurs="0"/>
					<element name="azimuth" type="xsd:decimal" minOccurs="0"/>
				</sequence>
			</complexType>				
			
			<complexType name="RANAntennaBandPattern">
				<sequence>
					<element name="gain" type="xsd:decimal" minOccurs="0"/>
					<element name="verticalPatternValues" type="xsd:string" minOccurs="0"/>
					<element name="horizontalPatternValues" type="xsd:string" minOccurs="0"/>
					<element name="verticalHalfPowerBeamWidth" type="xsd:decimal" minOccurs="0"/>					
					<element name="horizontalHalfPowerBeamWidth" type="xsd:decimal" minOccurs="0"/>										
				</sequence>
			</complexType>	

			<complexType name="RANAntennaBand">
				<sequence>
					<element name="electricalTilt" type="xsd:decimal" minOccurs="0"/>
					<element name="gain" type="xsd:decimal" minOccurs="0"/>
					<element name="EIRP" type="xsd:decimal" minOccurs="0"/>
					<element name="frequencyRange" type="xsd:string" minOccurs="0"/>					
					<element name="RANAntennaBandPattern" type="impl:RANAntennaBandPattern" minOccurs="0"/>			
				</sequence>
			</complexType>		
			
			<complexType name="RANAntenna">
				<complexContent>
					<extension base="impl:Antenna">
						<sequence>
							<element name="elevationAngle" type="xsd:decimal" minOccurs="0"/>
							<element name="RANAntennaBand" type="impl:RANAntennaBand" minOccurs="0"/>								
						</sequence>
					</extension>	
				</complexContent>					
			</complexType>		

			<complexType name="ListOfRANAntennas">
				<sequence>
					<element name="RANAntenna" type="impl:RANAntenna"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>				
		
			<complexType name="Sector">
				<sequence>
					<element name="azimuth" type="xsd:decimal" minOccurs="0"/>					
					<element name="gain" type="xsd:decimal" minOccurs="0"/>			
					<element name="EIRP" type="xsd:decimal" minOccurs="0"/>		
					<element name="heightAGL" type="xsd:decimal" minOccurs="0"/>		
					<element name="electricalTilt" type="xsd:decimal" minOccurs="0"/>		
					<element name="mechanicalTilt" type="xsd:decimal" minOccurs="0"/>		
					<element name="feederLoss" type="xsd:decimal" minOccurs="0"/>		
					<element name="antennaModelName" type="xsd:string" minOccurs="0"/>	
					<element name="TMA" type="xsd:boolean" minOccurs="0"/>
				</sequence>
			</complexType>	

			<complexType name="ListOfSectors">
				<sequence>
					<element name="sector" type="impl:Sector"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>				
	
			<complexType name="Carrier">
				<sequence>
					<element name="bandAssignment" type="xsd:string" minOccurs="0"/>
					<element name="DLCentreFrequency" type="xsd:decimal" minOccurs="0"/>
					<element name="ULCentreFrequency" type="xsd:decimal" minOccurs="0"/>
				</sequence>
			</complexType>				
			
			<complexType name="Carrier3G">
				<complexContent>
					<extension base="impl:Carrier">
						<sequence>
							<element name="UARFCNDL" type="xsd:decimal" minOccurs="0"/>
							<element name="UARFCNUL" type="xsd:decimal" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>			
			
			<complexType name="Carrier4G">
				<complexContent>
					<extension base="impl:Carrier">
						<sequence>
							<element name="EARFCNDL" type="xsd:decimal" minOccurs="0"/>
							<element name="EARFCNUL" type="xsd:decimal" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			
			<complexType name="Cell">
				<sequence>
					<element name="MNC" type="xsd:string" minOccurs="0"/>
					<element name="MCC" type="xsd:decimal" minOccurs="0"/>
					<element name="PAOutput" type="xsd:decimal" minOccurs="0"/>
					<element name="name" type="xsd:string" minOccurs="0"/>
					<element name="basekey" type="xsd:string"/>
					<element name="sectorID" type="xsd:decimal" minOccurs="0"/>
					<element name="adminState" type="xsd:string" minOccurs="0"/>
					<element name="operator" type="xsd:string" minOccurs="0"/>
					<element name="listOfRANAntennas" type="impl:ListOfRANAntennas" minOccurs="0"/>						
				</sequence>
			</complexType>				

			<complexType name="Cell2G">
				<complexContent>
					<extension base="impl:Cell">
						<sequence>
							<element name="cellNumber" type="xsd:decimal"/>
							<element name="CI" type="xsd:decimal" minOccurs="0"/>
							<element name="LAC" type="xsd:decimal" minOccurs="0"/>
							<element name="RAC" type="xsd:decimal" minOccurs="0"/>
							<element name="BCC" type="xsd:decimal" minOccurs="0"/>
							<element name="NCC" type="xsd:decimal" minOccurs="0"/>
							<element name="BCCH" type="xsd:decimal" minOccurs="0"/>
							<element name="powerRed" type="xsd:decimal" minOccurs="0"/>
							<element name="AMR" type="xsd:string" minOccurs="0"/>
							<element name="EDGE" type="xsd:string" minOccurs="0"/>
							<element name="GPRS" type="xsd:string" minOccurs="0"/>							
							<element name="TRXQuantity" type="xsd:decimal" minOccurs="0"/>							
							<element name="hoppingType" type="xsd:string" minOccurs="0"/>							
							<element name="rxLevAccMin" type="xsd:decimal" minOccurs="0"/>														
							<element name="listOfSectors" type="impl:ListOfSectors" minOccurs="0"/>					
						</sequence>
					</extension>
				</complexContent>
			</complexType>				
			
			<complexType name="Cell3G">
				<complexContent>
					<extension base="impl:Cell">
						<sequence>
							<element name="cellNumber" type="xsd:decimal"/>
							<element name="CI" type="xsd:decimal" minOccurs="0"/>
							<element name="LAC" type="xsd:decimal" minOccurs="0"/>
							<element name="RAC" type="xsd:decimal" minOccurs="0"/>
							<element name="bandwidth" type="xsd:string" minOccurs="0"/>
							<element name="scramblingCode" type="xsd:decimal" minOccurs="0"/>							
							<element name="HSDPAStatus" type="xsd:string" minOccurs="0"/>							
							<element name="HSUPAStatus" type="xsd:string" minOccurs="0"/>							
							<element name="HSDPAUsers" type="xsd:string" minOccurs="0"/>							
							<element name="HSUPAUsers" type="xsd:string" minOccurs="0"/>														
							<element name="SAC" type="xsd:decimal" minOccurs="0"/>														
							<element name="CPICHPower" type="xsd:decimal" minOccurs="0"/>		
							<element name="carrier3G" type="impl:Carrier3G" minOccurs="0"/>		
							</sequence>
					</extension>
				</complexContent>
			</complexType>			

			<complexType name="Cell4G">
				<complexContent>
					<extension base="impl:Cell">
						<sequence>
							<element name="localCellID" type="xsd:decimal"/>
							<element name="PCI" type="xsd:decimal" minOccurs="0"/>
							<element name="ECI" type="xsd:decimal" minOccurs="0"/>
							<element name="TAC" type="xsd:decimal" minOccurs="0"/>
							<element name="bandwidth" type="xsd:string" minOccurs="0"/>
							<element name="RSOffset" type="xsd:string" minOccurs="0"/>							
							<element name="MIMOMode" type="xsd:string" minOccurs="0"/>							
							<element name="carrier4G" type="impl:Carrier4G" minOccurs="0"/>		
						</sequence>
					</extension>
				</complexContent>
			</complexType>			
			
			<complexType name="ListOfCells2G">
				<sequence>
					<element name="cell2G" type="impl:Cell2G"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	

			<complexType name="ListOfCells3G">
				<sequence>
					<element name="cell3G" type="impl:Cell3G"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	

			<complexType name="ListOfCells4G">
				<sequence>
					<element name="cell4G" type="impl:Cell4G"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	
			
			<complexType name="BaseStationFunction">
				<sequence>
					<element name="basekey" type="xsd:string"/>
				</sequence>
			</complexType>		

			<complexType name="BTS">
				<complexContent>
					<extension base="impl:BaseStationFunction">
						<sequence>
							<element name="OSSIdentifier" type="xsd:decimal" minOccurs="0"/>
							<element name="listOfCells2G" type="impl:ListOfCells2G" minOccurs="0"/>		
						</sequence>
					</extension>
				</complexContent>
			</complexType>				
	
			<complexType name="NodeB">
				<complexContent>
					<extension base="impl:BaseStationFunction">
						<sequence>
							<element name="NBID" type="xsd:decimal" minOccurs="0"/>
							<element name="listOfCells3G" type="impl:ListOfCells3G" minOccurs="0"/>	
							</sequence>
					</extension>
				</complexContent>
			</complexType>			
	
			<complexType name="ENodeB">
				<complexContent>
					<extension base="impl:BaseStationFunction">
						<sequence>
							<element name="eNodeBID" type="xsd:decimal" minOccurs="0"/>
							<element name="MNC" type="xsd:string" minOccurs="0"/>
							<element name="MCC" type="xsd:decimal" minOccurs="0"/>
							<element name="listOfCells4G" type="impl:ListOfCells4G" minOccurs="0"/>	
							</sequence>
					</extension>
				</complexContent>
			</complexType> 
  
  			<complexType name="ListOfBTSes">
				<sequence>
					<element name="BTS" type="impl:BTS"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	
			
			<complexType name="ListOfNodeBs">
				<sequence>
					<element name="nodeB" type="impl:NodeB"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	

			<complexType name="ListOfENodeBs">
				<sequence>
					<element name="eNodeB" type="impl:ENodeB"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>				
  
			<complexType name="RepeaterSector">
				<sequence>
					<element name="azimuth" type="xsd:decimal" minOccurs="0"/>					
					<element name="gain" type="xsd:decimal" minOccurs="0"/>			
					<element name="EIRP" type="xsd:decimal" minOccurs="0"/>		
					<element name="heightAGL" type="xsd:decimal" minOccurs="0"/>		
					<element name="electricalTilt" type="xsd:string" minOccurs="0"/>		
					<element name="mechanicalTilt" type="xsd:decimal" minOccurs="0"/>		
					<element name="feederLoss" type="xsd:decimal" minOccurs="0"/>		
					<element name="antennaModelName" type="xsd:string" minOccurs="0"/>	
				</sequence>
			</complexType>	 
  
			<complexType name="ListOfRepeaterSectors">
				<sequence>
					<element name="repeaterSector" type="impl:RepeaterSector"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>		  
  
  			<complexType name="RepeaterCell">
				<sequence>
					<element name="basekey" type="xsd:string"/>					
					<element name="donorCellDistance" type="xsd:decimal" minOccurs="0"/>			
					<element name="gainDL" type="xsd:decimal" minOccurs="0"/>		
					<element name="gainUL" type="xsd:decimal" minOccurs="0"/>		
					<element name="RSL" type="xsd:decimal" minOccurs="0"/>		
					<element name="listOfRepeaterSectors" type="impl:ListOfRepeaterSectors" minOccurs="0"/>	
					<element name="listOfServingAntennas" type="impl:ListOfRANAntennas" minOccurs="0"/>	
				</sequence>
			</complexType>	
  
  			<complexType name="RepeaterCell2G">
				<complexContent>
					<extension base="impl:RepeaterCell">
						<sequence>
							<element name="basekeyOfRelatedCell2G" type="xsd:string" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType> 
  
  			<complexType name="RepeaterCell3G">
				<complexContent>
					<extension base="impl:RepeaterCell">
						<sequence>
							<element name="basekeyOfRelatedCell3G" type="xsd:string" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>   
  
    			<complexType name="RepeaterCell4G">
				<complexContent>
					<extension base="impl:RepeaterCell">
						<sequence>
							<element name="basekeyOfRelatedCell4G" type="xsd:string" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>  
  
  			<complexType name="ListOfRepeaterCells2G">
				<sequence>
					<element name="repeaterCell2G" type="impl:RepeaterCell2G"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>		
  
  			<complexType name="ListOfRepeaterCells3G">
				<sequence>
					<element name="repeaterCell3G" type="impl:RepeaterCell3G"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	  
			
  			<complexType name="ListOfRepeaterCells4G">
				<sequence>
					<element name="repeaterCell4G" type="impl:RepeaterCell4G"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>				
  
    		<complexType name="RadioRepeater">
				<sequence>
					<element name="basekey" type="xsd:string"/>					
					<element name="listOfRepeaterCells2G" type="impl:ListOfRepeaterCells2G" minOccurs="0"/>	
					<element name="listOfRepeaterCells3G" type="impl:ListOfRepeaterCells3G" minOccurs="0"/>	
					<element name="listOfRepeaterCells4G" type="impl:ListOfRepeaterCells4G" minOccurs="0"/>	
					<element name="donorAntenna" type="impl:RANAntenna" minOccurs="0"/>						
				</sequence>
			</complexType>	
  
    		<complexType name="ListOfRadioRepeaters">
				<sequence>
					<element name="radioRepeater" type="impl:RadioRepeater"  minOccurs="0" maxOccurs="unbounded"/>		
				</sequence>
			</complexType>	
  
			<complexType name="Location">
				<sequence>
					<element name="basekey" type="xsd:string"/>
					<element name="listOfBTSes" type="impl:ListOfBTSes" minOccurs="0"/>
					<element name="listOfNodeBs" type="impl:ListOfNodeBs" minOccurs="0"/>
					<element name="listOfENodeBs" type="impl:ListOfENodeBs" minOccurs="0"/>	
					<element name="listOfRadioRepeaters" type="impl:ListOfRadioRepeaters" minOccurs="0"/>						
				</sequence>
			</complexType>	
  
			<complexType name="ListOfLocations">
				<sequence>
					<element name="location" type="impl:Location" minOccurs="0" maxOccurs="unbounded"/>					
				</sequence>
			</complexType>	  

		</schema>
	</wsdl:types>
	
	<wsdl:message name="getListOfLocationsResponse">
		<wsdl:part name="parameters" element="impl:getListOfLocationsResponse" />
	</wsdl:message>
	<wsdl:message name="getListOfLocationsRequest">
		<wsdl:part name="parameters" element="impl:getListOfLocations" />
	</wsdl:message>
	
	<wsdl:portType name="AtollPort">
		<wsdl:operation name="getListOfLocations">
			<wsdl:input name="getListOfLocationsRequest" message="impl:getListOfLocationsRequest" wsap10:Action="http://WS/ATOLL/" />
			<wsdl:output name="getListOfLocationsResponse" message="impl:getListOfLocationsResponse" wsap10:Action="http://WS/ATOLL/" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AtollBinding" type="impl:AtollPort">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getListOfLocations">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getListOfLocationsRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getListOfLocationsResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AtollService">
		<wsdl:port name="AtollPort" binding="impl:AtollBinding">
			<wsdlsoap:address location="http://10.132.22.242:9096/Atoll/AtollWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>